@media only screen and (max-width: 500px) {
    body {
        background-color: #000000;
        color: black;
    }
}

body{
  background-color: #cdcdcd;
  background-image: url("http://www.planwallpaper.com/static/images/HD-Wallpapers1_FOSmVKg.jpeg");
  margin-left: auto;
  margin-right: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


h1{
  background-color:#4169e1;
  color: white;
  font-family:"Arial";
  text-align: center;
  text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}

#pixelPainter{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.colorclass{
  display: inline-block;
  margin-top: 0px;
}

.squares{
  text-align: center;
  display: inline-block;
  background-color: #00ff00;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.cRows{
  height: 20px;
}

.gridclass{
  display: inline-block;
  background-color: #ff0000;
  border: 0px;

}

.gridSquares{
  display: inline-block;
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.gRows{
  background-color: #0000ff;
  border: 0px solid black;
}