@media only screen and (max-width: 500px) {
    body {
        background-color: #000000;
        color: black;
    }
}

body{
  background-color: #cdcdcd;
  background-image: url("http://www.planwallpaper.com/static/images/HD-Wallpapers1_FOSmVKg.jpeg");
  margin-left: auto;
  margin-right: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


h1{
  background-color:#4169e1;
  color: white;
  font-family:"Arial";
  text-align: center;
  text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}

#pixelPainter{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.colorclass{
  display: inline-block;
  margin-top: 0px;
}

.squares{
  text-align: center;
  display: inline-block;
  background-color: #00ff00;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  top:2%;
  left:0%;
}

.squares:hover{
  -webkit-animation-name: viewIncrease;
  -webkit-animation-duration: .5s;

/*   -webkit-animation-name: spinnerRotate;
-webkit-animation-duration: 1s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
-moz-animation-name: spinnerRotate;
-moz-animation-duration: 1s;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;
-ms-animation-name: spinnerRotate;
-ms-animation-duration: 1s;
-ms-animation-iteration-count: infinite;
-ms-animation-timing-function: linear; */
}

.cRows{
  height: 20px;
}

.gridclass{
  display: inline-block;
  border: 0px;

}

.gridSquares{
  display: inline-block;
  background-color: #ffffff;
  height: 5px;
  width: 5px;
  border: 1px solid black;
}

.gRows{
  border: 0px solid black;
}

.trollMode{
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spinnerRotate;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spinnerRotate;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

@-webkit-keyframes viewIncrease
{
    from{transform: scale(1 , 1);}
    to{transform: scale(3 , 2);}
}
@-webkit-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}